NodeRed_flow.json
[{"id":"7e279504.a46c64","type":"tab","label":"Receive ESP8266 Data","disabled":false,"info":""},{"id":"6ea3cf0.401d9b","type":"ibmiot in","z":"7e279504.a46c64","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"dev01","applicationId":"","deviceType":"ESP8266","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":245.5,"y":192,"wires":[["8a08efe4.76ac18","fa50987d.ab5c3"]]},{"id":"fa50987d.ab5c3","type":"change","z":"7e279504.a46c64","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.5,"y":248,"wires":[["c23b2cb9.47c77","73a1783a.1a5f5"]]},{"id":"c23b2cb9.47c77","type":"debug","z":"7e279504.a46c64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750.5,"y":246,"wires":[]},{"id":"8a08efe4.76ac18","type":"debug","z":"7e279504.a46c64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":441.5,"y":142,"wires":[]},{"id":"73a1783a.1a5f5","type":"e-mail","z":"7e279504.a46c64","server":"smtp.sendgrid.net","port":"465","secure":true,"name":"aasaleh@eg.ibm.com","dname":"Rescue Team","x":767,"y":371,"wires":[]}]